@import "nord.css";

#waybar {
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  border: none;
  background: @nord1;
}

#image, #workspaces  {
  background: @nord1;
  border-radius: 0.25em;
  padding: 0.4em 0.4em;
}

#workspaces button {
  color: @nord6;
  margin-left: 0.25em;
  margin-right: 0.25em;
  border-radius: 0.25em;
  padding: 0 0.5em;
}

#workspaces button.active {
  background: @nord8;
  color: @nord1;
  border: none;
}

#workspaces button:hover {
  background: @nord4;
  color: @nord1;
  border-color: @nord4;
}

#clock {
  color: @nord6;
  background: @nord1;
  padding: 5px 5px;
}

#tray {
  color: @nord6;
  background: @nord1;
  padding: 5px 5px;
  margin-right: 10px;
  margin-left: 10px;
}

#pulseaudio, #network, #disk, #memory, #cpu, #custom-pacman, #idle_inhibitor {
  color: @nord6;
  background: @nord1;
  padding: 5px 5px;
  margin-right: 10px;
  margin-left: 10px;
}

#mpris {
  color: @nord1;
  background: @nord8;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
}

#custom-os_button {
  color: @nord6;
  background: @nord1;
  margin-right: 10px;
  margin-left: 10px;
}

#window {
  background: @nord1;
  margin-left: 15px;
}

#idle_inhibitor.deactivated {
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}

#idle_inhibitor.activated {
  background: @nord8;
  color: @nord1;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}
